# Environments
.venv/
env/
.env
.env.*
venv/

# Reference Materials
reference_materials/
"reference material/"
reference_*

# Documentation
*.md
docs/

# Python Cache & Build
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
build/
dist/
*.egg-info/
.installed.cfg
pip-log.txt
pip-delete-this-directory.txt

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Certificates
certs/
ag_proxy/

# Config
config.json
*.json
scratchpad/
scratchpad/*

# test
test_streaming_pipeline.py
